.people-sheets{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px repeat(1fr 1fr);
    grid-template-areas: "title title"
    "key key"
    "value value";

    width:500px;
    margin:auto;
    position:relative;
    top:150px;
}

.sheets-title{
    text-align: center;
    grid-column: title;
    background:yellow;
    border:1px solid;
}

.sheets-key{
    grid-row:key;
    background:green;
    margin:auto;
    width:100%;
    text-align: center;
    border:1px solid;
    font-weight: bold;
}

.sheets-name,
.sheets-birth{
    color:rgb(221, 210, 210);
}

.sheets-value{
    grid-row:value;
    background:red;
    text-align: center;
}

.sheets-user,
.sheets-date{
    display:flex;
    justify-content: center;
    border:1px solid;
    font-weight: 500;
}

.edit-button{
    margin:auto;
    grid-column: title;
    margin-top:30px;
}

.edit-button button{
    background:rgb(169, 169, 184);
    border:0;
    padding:15px;
    cursor:pointer;
    border-radius:8px;
}

.sheets-user::before{
    content:"";
    background:white;
    width:20px;
    height:20px;
    position: absolute;
    margin-top:2px;
    left:2px;
}

.active{
    background:rgb(141, 49, 49);
}

.checkmark::after{
    content: "";
    background:blue;
    width:20px;
    height:20px;
    position:absolute;
    margin-top:2px;
    left:2px;
}