@import url(./form.css);
@import url(./sheets.css);

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    list-style-type: none;
}