@import url(./form.css);
@import url(./sheets.css);

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --first-color:#1F1351;
    --second-color:#7B59DB;
    --third-color:#5109EC;
}

html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    background:var(--first-color);
    color:white;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    list-style-type: none;
}